battleship_client/Service References/BattleshipServerRef/BattleshipService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BattleshipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IBattleshipService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/battleship?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/battleship?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/battleship?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/battleship?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/battleship_common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBattleshipService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_CreateRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoom" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_DeleteRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoom" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_ReadyForGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadyForGame" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_Turn_InputMessage">
    <wsdl:part name="parameters" element="tns:Turn" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_LogIn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_UserNameExists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserNameExists" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_RoomCreated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RoomCreated" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_RoomDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RoomDeleted" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_FatalError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FatalError" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_GameNotExists_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameNotExists" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_PrepareToGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PrepareToGame" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_TransferMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TransferMessage" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_GoodField_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GoodField" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_BadField_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BadField" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_StartGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_YouTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:YouTurn" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_UpdateYourField_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateYourField" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_AlreadyClicked_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AlreadyClicked" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_UpdateOpponentField_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateOpponentField" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_Win_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Win" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_Loose_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Loose" />
  </wsdl:message>
  <wsdl:message name="IBattleshipService_YouCheated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:YouCheated" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBattleshipService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/Join" message="tns:IBattleshipService_Join_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/Leave" message="tns:IBattleshipService_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/CreateRoom" message="tns:IBattleshipService_CreateRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/DeleteRoom" message="tns:IBattleshipService_DeleteRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/JoinGame" message="tns:IBattleshipService_JoinGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/LeaveGame" message="tns:IBattleshipService_LeaveGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/SendMessage" message="tns:IBattleshipService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReadyForGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/ReadyForGame" message="tns:IBattleshipService_ReadyForGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Turn">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleshipService/Turn" message="tns:IBattleshipService_Turn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LogIn">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/LogIn" message="tns:IBattleshipService_LogIn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserNameExists">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/UserNameExists" message="tns:IBattleshipService_UserNameExists_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RoomCreated">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/RoomCreated" message="tns:IBattleshipService_RoomCreated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RoomDeleted">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/RoomDeleted" message="tns:IBattleshipService_RoomDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FatalError">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/FatalError" message="tns:IBattleshipService_FatalError_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameNotExists">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/GameNotExists" message="tns:IBattleshipService_GameNotExists_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PrepareToGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/PrepareToGame" message="tns:IBattleshipService_PrepareToGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TransferMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/TransferMessage" message="tns:IBattleshipService_TransferMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GoodField">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/GoodField" message="tns:IBattleshipService_GoodField_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BadField">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/BadField" message="tns:IBattleshipService_BadField_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/StartGame" message="tns:IBattleshipService_StartGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="YouTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/YouTurn" message="tns:IBattleshipService_YouTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateYourField">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/UpdateYourField" message="tns:IBattleshipService_UpdateYourField_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AlreadyClicked">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/AlreadyClicked" message="tns:IBattleshipService_AlreadyClicked_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateOpponentField">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/UpdateOpponentField" message="tns:IBattleshipService_UpdateOpponentField_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Win">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/Win" message="tns:IBattleshipService_Win_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Loose">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/Loose" message="tns:IBattleshipService_Loose_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="YouCheated">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleshipService/YouCheated" message="tns:IBattleshipService_YouCheated_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IBattleshipService" type="tns:IBattleshipService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IBattleshipService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateRoom">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/CreateRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoom">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/DeleteRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReadyForGame">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/ReadyForGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Turn">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/Turn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/LogIn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameExists">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/UserNameExists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomCreated">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/RoomCreated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomDeleted">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/RoomDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FatalError">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/FatalError" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameNotExists">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/GameNotExists" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareToGame">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/PrepareToGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferMessage">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/TransferMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoodField">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/GoodField" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BadField">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/BadField" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/StartGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YouTurn">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/YouTurn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateYourField">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/UpdateYourField" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlreadyClicked">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/AlreadyClicked" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpponentField">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/UpdateOpponentField" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Win">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/Win" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Loose">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/Loose" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YouCheated">
      <soap12:operation soapAction="http://tempuri.org/IBattleshipService/YouCheated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BattleshipService">
    <wsdl:port name="WSDualHttpBinding_IBattleshipService" binding="tns:WSDualHttpBinding_IBattleshipService">
      <soap12:address location="http://localhost/battleship" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/battleship</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>